In [1]:
import pandas as pd
import numpy as np
import scipy.stats as si

In [2]:
def NORMSINV(x):
    NORMSINV = si.norm.ppf(x,0.0,1.0)
    return(NORMSINV)
RAND = np.random.standard_normal()

# Parametric VaR

In [3]:
sigma = 0.01 # Daily Standard Deviation (Volatility) 
confidence = 0.99 # Confidence Level

In [4]:
# 1-day Value at Risk (VaR)
VaR_1_day = NORMSINV(confidence) * sigma
print("The 1-day Parametric Value at Risk is:", "{:.2%}".format(VaR_1_day))

The 1-day Parametric Value at Risk is: 2.33%

### Extended over Target Horizon (i.i.d)

In [5]:
horizon = 10 # Target Horizon (days)
vol = sigma*np.sqrt(horizon) # Standard deviation (i.i.d)
VaR_horizon = NORMSINV(confidence) * vol
print("The", horizon,"days Parametric Value at Risk is", "{:.2%}".format(VaR_horizon))

The 10 days Parametric Value at Risk is 7.36%

### Extended over Target Horizon (autocorrelated)

In [6]:
AC = 0 # Autocorrelation

In [7]:
Scaling_factor = horizon+2*(AC/(1-AC)**2)*((horizon-1)*(1-AC)-AC*(1-AC**(horizon-1)))
sdwa = sigma*np.sqrt(Scaling_factor) # Standard deviation (with autocorr.)
VaR_over_horizon_with_autocorr = NORMSINV(confidence)*sdwa
print("The Parametric Value at Risk over", horizon,"days (with autocorr.) is", "{:.2%}".format(VaR_over_horizon_with_autocorr))

The Parametric Value at Risk over 10 days (with autocorr.) is 7.36%

# Historical Simulation (HS) VaR

In [8]:
i = np.random.normal(0,sigma,30)
print(i)

[-0.01581185  0.01451535 -0.00298519 -0.00967593  0.00480505  0.00180856
  0.0196722  -0.00523841  0.00479897 -0.00714014  0.00803092 -0.00010204
  0.00112336  0.01739314 -0.0250612   0.00434298  0.01233002 -0.00373183
 -0.0024688  -0.0034219  -0.00367294 -0.00528201  0.00285701  0.01227396
  0.00851245 -0.01075358 -0.0071908  -0.00118816 -0.00286551  0.01393691]

In [9]:
t = ["t-1", "t-2", "t-3", "t-4", "t-5", "t-6", "t-7", "t-8", "t-9", "t-10",
          "t-11", "t-12", "t-13", "t-14", "t-15", "t-16", "t-17", "t-18", "t-19", "t-20",
          "t-21", "t-22", "t-23", "t-24", "t-25", "t-26", "t-27", "t-28", "t-29", "t-30"]
print(t)

['t-1', 't-2', 't-3', 't-4', 't-5', 't-6', 't-7', 't-8', 't-9', 't-10', 't-11', 't-12', 't-13', 't-14', 't-15', 't-16', 't-17', 't-18', 't-19', 't-20', 't-21', 't-22', 't-23', 't-24', 't-25', 't-26', 't-27', 't-28', 't-29', 't-30']

In [10]:
df = pd.DataFrame({"Period": t, "Return": i})

In [11]:
df

   Period    Return
0     t-1 -0.015812
1     t-2  0.014515
2     t-3 -0.002985
3     t-4 -0.009676
4     t-5  0.004805
5     t-6  0.001809
6     t-7  0.019672
7     t-8 -0.005238
8     t-9  0.004799
9    t-10 -0.007140
10   t-11  0.008031
11   t-12 -0.000102
12   t-13  0.001123
13   t-14  0.017393
14   t-15 -0.025061
15   t-16  0.004343
16   t-17  0.012330
17   t-18 -0.003732
18   t-19 -0.002469
19   t-20 -0.003422
20   t-21 -0.003673
21   t-22 -0.005282
22   t-23  0.002857
23   t-24  0.012274
24   t-25  0.008512
25   t-26 -0.010754
26   t-27 -0.007191
27   t-28 -0.001188
28   t-29 -0.002866
29   t-30  0.013937

In [12]:
significance = 1 - confidence
VaR_HS = abs(np.percentile(df.Return, round(significance*100,0)))
print("The Historical Simulation Value at Risk is", "{:.2%}".format(VaR_HS))

The Historical Simulation Value at Risk is 2.24%